
<div class="section bg-gray">
    <div class="container grid-sm">
        <div class="columns">
            <div class="column col-6">
                <div class="w-full lg:w-1/2 px-2" data-reactid="18">
                    <p class="text-lg font-normal leading-normal mb-4" data-reactid="20">
                        You'll be taken to GitHub, GitLab, or Bitbucket to authenticate.
                    </p>
                    <p class="text-sm leading-normal text-grey-dark" data-reactid="21">
                        By logging in, you are agreeing to our Terms of Service and Privacy Policy.
                        We ask for read/write access to make your experience seamless with StyleCI.
                    </p>
                </div>
            </div>
            <div class="column col-6">
                <script>
                    function access(provider) {
                        var authWindow = window.open('{{ callbackUrl }}'+provider, 'authWindow', 'width=600,height=400,scrollbars=yes');
                        return false;
                    }
                </script>
                <div class="px-8 m-2" data-reactid="24">
                    <a href="#GitHub" onclick="javascript:access('GitHub')" class="btn btn-lg btn-block bg-black hover:bg-grey-darkest text-white font-bold py-4 px-8 rounded items-center no-underline" data-reactid="25">
                        <svg class="social-icon float-left mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-reactid="26">
                            <path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" data-reactid="27"></path>
                        </svg>
                        <span data-reactid="28">Login with GitHub</span>
                    </a>
                </div>
                <div class="px-8 m-2" data-reactid="29">
                    <a href="#GitLab" onclick="javascript:access('GitLab')" class="btn btn-lg btn-block bg-orange hover:bg-orange-dark text-white font-bold py-4 px-8 rounded items-center no-underline" data-reactid="30">
                        <svg class="social-icon float-left mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-reactid="31">
                            <path d="M23.955 13.587l-1.342-4.135-2.664-8.189c-.135-.423-.73-.423-.867 0L16.418 9.45H7.582L4.919 1.263C4.783.84 4.185.84 4.05 1.26L1.386 9.449.044 13.587c-.121.375.014.789.331 1.023L12 23.054l11.625-8.443c.318-.235.453-.647.33-1.024" data-reactid="32"></path>
                        </svg>
                        <span data-reactid="33">Login with GitLab</span>
                    </a>
                </div>
                <div class="px-8 m-2" data-reactid="34">
                    <a href="#Bitbucket" onclick="javascript:access('Bitbucket')" class="btn btn-lg btn-block bg-blue hover:bg-blue-dark text-white font-bold py-4 px-8 rounded items-center no-underline" data-reactid="35">
                        <svg class="social-icon float-left mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-reactid="36">
                            <path d="M.778 1.211c-.424-.006-.772.334-.778.758 0 .045.002.09.01.134l3.263 19.811c.084.499.515.867 1.022.872H19.95c.382.004.708-.271.77-.646l3.27-20.03c.068-.418-.216-.813-.635-.881-.045-.008-.089-.011-.133-.01L.778 1.211zM14.52 15.528H9.522L8.17 8.464h7.561l-1.211 7.064z" data-reactid="37"></path>
                        </svg>
                        <span data-reactid="38">Login with Bitbucket</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>