<div class="docs-brand">
    <a class="docs-logo" href="/">
        <img src="/img/logo.svg" alt="Report-CI">
        <h2>Report-CI</h2>
        <small class="label label-error text-bold">BETA</small>
    </a>
</div>
