<div class="docs-footer container grid-lg" id="copyright">
    <p>
        <a href="https://github.com/javanile/report-ci" target="_blank">GitHub</a> 路
        <a href="https://twitter.com/ReportCI" target="_blank">Twitter</a> 路
        <a href="https://www.paypal.me/javanile" target="_blank">PayPal Donate</a> 路
        <a href="https://www.patreon.com/javanile" target="_blank">Patreon Sponsor</a> 路
        Version <span class="version"></span>
    </p>
    <p>
        Report-CI is powered by <a href="https://github.com/javanile" target="_blank">Javanile</a>.
        Website design by <a href="https://twitter.com/picturepan2" target="_blank">Yan Zhu</a>.
        Both licensed under the <a href="https://github.com/picturepan2/spectre/blob/master/LICENSE" target="_blank">MIT License</a>.
    </p>
</div>
