<!DOCTYPE html>
<html lang="en">
<head>
    <title>Report-CI</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.">
    <meta name="author" content="Yan Zhu">
    <meta property="og:url" content="https://picturepan2.github.io/spectre/">
    <meta property="og:title" content="Spectre.css CSS Framework">
    <meta property="og:description" content="Spectre.css CSS Framework is a lightweight, responsive and modern CSS framework for faster and extensible development. Spectre provides basic styles for typography and elements, flexbox based responsive layout system, pure CSS components and utilities with best practice coding and consistent design language.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ReportCI">
    <meta name="twitter:creator" content="@ReportCI">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/spectre.min.css">
    <link rel="stylesheet" href="/css/spectre-exp.min.css">
    <link rel="stylesheet" href="/css/spectre-icons.min.css">
    <link rel="stylesheet" href="/css/spectre-docs.min.css">
    <link rel="canonical" href="https://report-ci.org/">
</head>
<body>

{% block page %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148048987-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-148048987-1');
</script>
</body>
</html>