{% extends "html.twig" %}

{% block page %}
    <div class="section section-hero bg-gray">
        <div class="grid-hero container grid-lg text-center" id="overview">
            {% include "brand.twig" %}
            {% include "header/login.twig" %}
            <h1>Signup on Report-CI</h1>
        </div>
    </div>

    {% include "access.twig" %}

    {% include "social.twig" %}

    <footer class="section section-footer">
        {% include "footer.twig" %}
    </footer>
{% endblock %}