<div class="section section-updates bg-gray">
    <div class="container grid-lg">
        <div class="columns">
            <div class="column col-4 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h6">Report-CI on Twitter</div>
                    </div>
                    <div class="card-body">
                        For the latest announcements and updates, follow on Twitter:
                        <a href="https://twitter.com/ReportCI" target="_blank">@ReportCI</a>.
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" href="https://twitter.com/ReportCI" target="_blank">Follow</a>
                    </div>
                </div>
            </div>
            <div class="column col-4 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h6">PayPal Donate</div>
                    </div>
                    <div class="card-body">Spectre.css is completely free to use. If you enjoy it, please consider donating for the further development.</div>
                    <div class="card-footer"><a class="btn btn-primary" href="https://www.paypal.me/picturepan2" target="_blank">Donate</a></div>
                </div>
            </div>
            <div class="column col-4 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title h6">Sponsor via Patreon</div>
                    </div>
                    <div class="card-body">Your name or company logo will be put on Spectre Docs homepage.</div>
                    <div class="card-footer"><a class="btn btn-primary" href="https://www.patreon.com/spectrecss" target="_blank">Sponsor</a></div>
                </div>
            </div>
        </div>
    </div>
</div>